@page "{string}"
@model string

<div class="col-12 text-center">
    <h1>Sending email</h1>
    <h3>@ViewBag.Message</h3>
    <a class="btn btn-success" asp-action="Edit" asp-controller="Account">Ok</a>
</div>