@using Todo.Domain.Entities
@model ShoppingList
@{
    ViewData["Title"] = "Remove shopping list";
}
<div class="col-12 text-center">
    <h1>Remove the note @Model.Title.</h1>
    <form class="border" method="post">
        <h2><span class="text-danger">Caution!&nbsp;</span>This shopping list will be definitely deleted.</h2>
        <p>Continue?</p>
        <button class="btn btn-danger mb-1" asp-action="RemoveConfirmation" asp-controller="ShoppingList" asp-route-id="@Model.Id">Yes, remove</button>
        <a class="btn btn-success mb-1" asp-controller="ShoppingList" asp-action="Index">Take me back</a>
    </form>
</div>
