
<div class="text-center">
    <h1>Welcome to <span class="text-success">TodoApp.</span></h1>
    <h3>Don't forget anything.</h3>
    <p>Create free account and try now!</p>
    <img src="/appimg/checklist.jpg" alt="checklist" style="width:200px; height:200px;"/>
</div>
<div class="text-center">
     <div class="btn btn-group">
            <a asp-controller="Account" asp-action="Login" class="btn btn-success m-2">Sign In</a>
            <a asp-controller="Account" asp-action="Register" class="btn btn-primary m-2">Create account</a>
    </div>
</div>