@model ToDoList.WebApp.Models.AppUserViewModels.UserCredentialsViewModel

<form method="post">
    <div class="form-group p-2 m-2">
        <label asp-for="UserName"></label>
        <input type="text" asp-for="UserName"/>
        <span class="text-danger m-1" asp-validation-for="UserName"></span>
        <button type="submit" asp-action="ChangeUserNameAsync" asp-controller="Account" class="btn btn-success">Save</button>
   </div>
 </form>
 <form method="post">
   <div class="form-group p-2 m-2">
        <label asp-for="Password"></label>
        <input type="text" asp-for="Password"/>
        <span class="text-danger m-1" asp-validation-for="Password"></span>
        <button type="submit" asp-action="ChangePasswordAsync" asp-controller="Account" class="btn btn-success">Save</button>
   </div>
   <div class="form-group p-2 m-2">
        <label asp-for="ConfirmPassword"></label>
        <input type="text" asp-for="ConfirmPassword"/>
        <span class="text-danger m-1" asp-validation-for="ConfirmPassword"></span>
   </div>
</form>