 
             <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
             <a class= "btn btn-primary" asp-controller="List" asp-action="Index" asp-route-id = "1">Lists</a>