@using Todo.Domain.Entities
@using System.Collections.Generic
@model IQueryable<Note>

@{
    ViewData["Title"] = "Notes";
}


<div class="d-flex">
    <div class="col-3" style="float:left">
        <partial name="NoteSearchPartialView" model="new SearchNoteViewModel()" />
    </div>

    <div class="col-9 text-center">
        @if (!Model.Any())
        {
            <h1>
                It's so empty here..
            </h1>
            <a asp-action="Create" asp-controller="Note" class="btn btn-success">Add a note!</a>
        }
        else
        {
            <a asp-action="Create" asp-controller="Note" class="btn btn-primary">Add a note!</a>
            @foreach (var m in Model)
            {
                <partial name="NoteCardViewSummary" model="m" />
            }
        }
    </div>
</div>