
@using ToDoList.WebApp.Models.AppUserViewModels

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex col-12 border-2">
    <div class="btn-group-vertical m-3">
        <button id="account" class="btn btn-white text-success border-success">Account settings</button>
        <button id="personal" class="btn btn-white text-success border-success">Personal data</button> 
    </div>
    <div class="col-8" id="loadPartial">
    </div>
    <p>@TempData["ErrorMsg"]</p>
</div>

@section Scripts {
    <script>
        $(document).ready(function(){
            $("#personal").click(function(){
                $("#loadPartial").load("/Account/GetPersonalDataPartialView");
            });

            $("#account").click(function(){
                $("#loadPartial").load("/Account/GetAccountCredentialPartialView");
            });
        });
    </script>
}